:root {
    --color-primary-100: #fbfeff;
    --color-primary-200: #EDF2F7;
    --color-primary-300: #E2E8F0;
    --color-primary-400: #CBD5E0;
    --color-primary-500: #A0AEC0;
    --color-primary-600: #718096;
    --color-primary-700: #4A5568;
    --color-primary-800: #2D3748;
    --color-primary-900: #1A202C;
    --color-secondary: #4299E1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
